.cardWrapper {
  overflow: hidden;
}

.cardWrapper:last-child, .cardWrapper:hover {
    overflow: visible;
}

.card {
    height: 9.66em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}